@font-face {
    font-family: 'CaveatBrush';
    src: url(./CaveatBrush-Regular.ttf);
}


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: #144eb8;
}

.header .header__title {
    font-family: CaveatBrush, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 7rem;
    color: #ffffdf;
    margin: 0;
    /* color: #144eb8; */
    /* -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: rgb(255, 255, 255); */
}

