.card {
    display: flex;
    flex-direction: column;

    width: 360px;

    color: var(--dark-blue);
    background-color: var(--light-yellow);
    border-radius: 3rem 1.4rem;
    padding: 1rem;
}

ul > li {
    list-style-type: none;
}

.bookmark {
    content: url("../resources/bookmark.png");
    transform: translate(280px, -18px);
    /* filter: saturate(0%) hue-rotate(0deg) brightness(90%) contrast(100%);
    filter: invert(19%) sepia(97%) saturate(2238%) hue-rotate(213deg)
        brightness(90%) contrast(91%); */
}

.bookmark:hover {
    /* content: url("../resources/bookmark.png"); */
    filter: saturate(0%) hue-rotate(0deg) brightness(90%) contrast(100%);
}

/* .bookmark:active {
    content: url("../resources/bookmark_filled.png");
    filter: saturate(0%) hue-rotate(0deg) brightness(90%) contrast(100%);
    filter: invert(19%) sepia(97%) saturate(2238%) hue-rotate(213deg)
        brightness(90%) contrast(91%);
} */

.bookmark_active {
    content: url("../resources/bookmark_filled.png");
    /* filter: saturate(0%) hue-rotate(0deg) brightness(90%) contrast(100%);
    filter: invert(19%) sepia(97%) saturate(2238%) hue-rotate(213deg)
        brightness(90%) contrast(91%); */
}

.card__bookmark {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    cursor: pointer;
    /* transform: translate(-8px, -18px); */
    width: 40px;
}
/* 
/* .card__bookmark:hover {
    /* transform: translate(-8px, -2px);
transform: translate(280px, -18px);
transition: all 1s;
 } */

/* .card__bookmark-active {
    content: url("../resources/bookmark_filled.png");
} */

.card__question,
.card__answer {
    /* padding: 1rem 0 1rem 0; */
    line-height: 140%;
    text-align: center;
}

.card__question {
    font-family: "CaveatBrush";
    font-size: 1.6rem;
}

/*
    styles for button inside card: button.css 
*/

.card__tag-container {
    display: flex;
    justify-content: flex-start;
    gap: 0.3rem;
    margin: 0;
    padding: 1rem 0.4rem 0.1rem;
}

.card__tag-container__tags {
    font-size: 0.7rem;
    padding: 0.6rem;

    border-radius: 0.25rem;

    color: var(--light-yellow);
    background-color: var(--light-blue);
}

textarea {
    background-color: var(--light-yellow);
}

.hidden {
    display: none;
}
